<div class="background-art" aria-hidden="true">
  <svg viewBox="0 0 1440 690" fill="none" preserveAspectRatio="xMaxYMin slice">
    <defs>
      <linearGradient id="contour-color" x1="600" y1="600" x2="1400" y2="0" gradientUnits="userSpaceOnUse">
        <stop stop-color="#64bbb1" />
        <stop offset="0.5" stop-color="#3caac1" />
        <stop offset="1" stop-color="#9291df" />
      </linearGradient>
      <path id="contour" d="M1060 -80 C1450 130 640 200 870 390 S1410 310 1560 680" />
    </defs>
    <g stroke="url(#contour-color)" stroke-width="1">
      <use href="#contour" transform="translate(-90 0)" />
      <use href="#contour" transform="translate(-72 0)" />
      <use href="#contour" transform="translate(-54 0)" />
      <use href="#contour" transform="translate(-36 0)" />
      <use href="#contour" transform="translate(-18 0)" />
      <use href="#contour" />
      <use href="#contour" transform="translate(18 0)" />
      <use href="#contour" transform="translate(36 0)" />
      <use href="#contour" transform="translate(54 0)" />
      <use href="#contour" transform="translate(72 0)" />
      <use href="#contour" transform="translate(90 0)" />
    </g>
  </svg>
  <canvas id="background-canvas" width="1" height="1"></canvas>
</div>
