<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body{% if page.art_background %} class="has-art-background"{% endif %}>

    {% if page.art_background %}
      {% include background-art.html %}
    {% endif %}

    <a class="skip-link" href="#main-content">Skip to content</a>

    {% include header.html %}

    <main class="page-content" id="main-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
